<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home Library</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#" th:href="@{/library}"><span class="glyphicon glyphicon-book"></span> My Library</a></li>
                    <li><a href="#" th:href="@{/libraries}">All Libraries</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span
                            class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Page 1-1</a></li>
                            <li><a href="#">Page 1-2</a></li>
                            <li><a href="#">Page 1-3</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" th:href="@{/register}"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()"><a href="#" th:href="@{/login}"><span
                            class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/logout}"><span
                            class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>

</body>
</html>