<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <title>Library</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">

    <div id="searches">
        <div class="row text-right">
            <div class="col-xs-0 col-md-6 col-lg-6"></div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <form action="" method="get" class="form-inline">
                    <!--<div class="form-group">-->
                        <!--<select class="form-control" name="scope">-->
                            <!--<option value="local" th:selected="true">Local System</option>-->
                            <!--<option value="external">External System</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <div class="input-group">
                        <input type="Search" placeholder="Search..." name="search" class="form-control"
                               th:if="${param.search}" th:value="${param.search[0]}"/>
                        <input type="Search" placeholder="Search..." name="search" class="form-control"
                               th:if="!${param.search}"/>
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-info">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                </form>
                <a href="#advanced-search" data-parent="#searches" data-toggle="collapse">Advanced Search</a>
            </div>
        </div>

        <div id="advanced-search" class="collapse row">
            <div class="col-xs-0 col-md-6 col-lg-8"></div>
            <div class="col-xs-12 col-md-6 col-lg-4">
                <form action="" method="get">
                    <div class="form-group">
                        <input type="text" name="title" placeholder="Title" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="authorFirstName" placeholder="Author's First Name"
                               class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input type="text" name="authorLastName" placeholder="Author's Last Name" class="form-control"/>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<select class="form-control" name="scope">-->
                            <!--<option value="local" th:selected="true">Local System</option>-->
                            <!--<option value="external">External System</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <button type="submit" class="btn btn-info pull-right"><span
                            class="glyphicon glyphicon-search"></span>Search
                    </button>
                </form>
            </div>
        </div>
    </div>

    <table th:if="!${books.empty}" class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tr th:each="book: ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.authorFirstName} + ' ' + ${book.authorLastName}"></td>
            <td>
                <a href="#" th:href="${'/library/add/' + book.id}" class="btn btn-info">Add to the library</a>
            </td>
        </tr>
    </table>

</div>
</body>
</html>