<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <title>Library</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div class="container">

    <div th:if="${owner}">
        <h3 th:if="${books.empty}">Add your books to the library clicking the button below</h3>
    </div>

    <table th:if="!${books.empty}" class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tr th:each="book: ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.authorFirstName} + ' ' + ${book.authorLastName}"></td>
            <td>
                <a th:if="${owner}" href="#" th:href="${'delete/' + book.id}" class="btn btn-danger">Delete</a>
                <a href="#" th:href="${'view/' + book.id}" class="btn btn-info">View</a>
                <a href="#" th:href="${'rent/' + book.id}" class="btn btn-info">Rent</a>
            </td>
        </tr>
    </table>

    <div th:if="${owner}">

        <a href="#" th:href="@{/library/add}" class="btn btn-primary">Add Book</a>

        <h3>Invite another user to your library</h3>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-4">
                <form th:action="@{/library/adduser}" method="post">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="User Email"
                               th:required="true"/>
                    </div>
                    <button type="submit" class="btn btn-info">Add Library User</button>
                </form>
            </div>
        </div>

    </div>

</div>
</body>
</html>